{% load get_status %}
<div class="small-container cart-page">
    <table>
        {% if orders %}
            <tbody><tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.created_at }}</td>
                <td>Rs {{ order.total_price }}</td>
                <td>{% get_status order.order_status %}</td>
            </tr>
            {% endfor %}
        {% else %}
            <p>No Orders</p>  
        {% endif %}
              
    </tbody></table>
</div>